main {
    text-align: center;
}
div {
    border: solid black 1px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manhang {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section {
    border: solid black 1px;
    display: inline;
}
.blanks {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin: 10px;
}
input {
    border: solid blue 1px;
    border-radius: 100px;
}
.visualKeyboard {
    position: relative;
    display: none;
    justify-items: center;
    align-items: center;
    grid-gap: 3px;
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
}
.key {
    display: flex;
    justify-content: center;
    background-color: cyan;
    padding: 2px 10px;
    margin: 5px 10px;
    border: solid black 1px;
    border-radius: 10px;
}
.key:hover{
    background-color: blue;
}
.y {
    grid-column-start: 3;
}
.z {
    grid-column-start: 4;
}
.reset {
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: limegreen;
}