main {
    text-align: center;
}
div {
    border: solid black 1px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manhang {
    height: 300px;
    width: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/1.jpg")
}
section {
    border: solid black 1px;
    display: inline;
}
.blanks {
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    margin: 10px;
}
.visualKeyboard {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px 40px;
}
.key {
    justify-content: center;
    background-color: cyan;
    margin: 3px 10px;
    padding: 2px 15px;
    border: solid black 1px;
    border-radius: 10px;
}
.key:hover{
    background-color: blue;
}
.y {
    grid-column-start: 3;
}
.z {
    grid-column-start: 4;
}